label{
    display: block;
}
label span
{
    display: inline-block;
    text-align: right;
    width: 100px;
}
footer{
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

a:visited, a:active{
    color: black;
    text-decoration: none;
}
table, th, td{
    border: 1px solid black;
}